<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this recipe from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
        
<header class="jumbotron subhead" id="overview">
  <h1>Sign Up</h1>
  <p class="lead">Ready to get started? Fill out this simple form, and a representative will contact you.</p>
</header>

<%= form_for(@user, url: alohomora.users_path, html: { class: 'form-horizontal'}) do |f| %>
<section id="general-information">
  <div class="page-header">
    <h1>General Information</h1>
  </div>
  <div class="row">
    <div class="span4">
      <p>
        Provide us with some information to create the main user account for your company
      </p> 
    </div>
    <div class="span8">
      <fieldset>
    	  <div class="control-group">
          <%= f.label :first_name %>
          <div class="controls">
            <%= f.text_field :first_name %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :last_name %>
          <div class="controls">
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :email, 'Email address' %>
          <div class="controls">
            <%= f.text_field :email %>
          </div>
        </div>
    	</fieldset>
    </div>
  </div>
</section>
<section id="company-information">
  <div class="page-header">
    <h1>Company Information</h1>
  </div>
  <div class="row">
    <div class="span4">
      <p>
        Provide us with Company and Contact Information
      </p>
    </div>
    <div class="span8">
      <fieldset>
    	  <%= f.fields_for :organizations do |org|%>
          <div class="control-group">
            <%= org.label :name, 'Organization' %>
            <div class="controls">
              <%= org.text_field :name %>
            </div>
          </div>
        <% end %>
    	</fieldset>
    </div>
  </div>
</section>
<section id="company-information">
  <div class="page-header">
    <h1>Password Information</h1>
  </div>
  <div class="row">
    <div class="span4">
      <p>
        Please provide us with a strong password that is at least 8 characters and has at least one numeric and one alphabetical character
      </p>
    </div>
    <div class="span8">
      <fieldset>
    	  <div class="control-group">
          <%= f.label :password %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, 'Password confirmation' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
    	</fieldset>
    </div>
  </div>
</section>
<section id="submit-listing">
  <div class="page-header">
    <h1>Submit</h1>
  </div>
  <div class="row">
    <div class="span4">
      <p>
        Once you have submitted, an account representative will contact you promptly.
      </p>
    </div>
    <div class="span8">
      <%= f.submit 'Sign Up', class: 'btn btn-primary btn-large span3', :id => 'authSignupButton' %>
    </div>
  </div>
</section>
<% end %>